/* navegadorStilo.module.css */

body {
    margin: 0;
    padding-top: 260px; /* Ajusta este valor según la altura de tu nav */
    font-family: Arial, sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; /* Hace que el nav se quede fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Hace que el nav ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegura que el nav se quede encima de otros elementos */
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #4CAF50; /* Cambia a un color verde cuando se pasa el ratón */
  }
  
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
  
    nav a {
      font-size: 1rem;
      margin: 0.5rem 0;
    }
  }
  